<div class="train-coach">
  <h3>Train Coach</h3>
  <div class="row">
    <div>
      <select type="text" class="form-select" name="personId" [(ngModel)]="ticketJson.personId">
        <option>Select</option>
        <option value="{{person.id}}" *ngFor="let person of personData">{{person.name}}
        </option>
      </select>
    </div>
    <div>
      <input type="number" class="form-control" name="noOfTickets" [(ngModel)]="ticketJson.noOfTickets"
        placeholder="No of ticket">
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="ticketBookingSubmit()">Book</button>
    </div>
  </div>
  <div class="row" *ngFor="let row of coachDataDynamic.rows">
    <div class="seat" *ngFor="let seat of row.seats"
      [ngClass]="{'available': seat.available == 'FALSE', 'unavailable': seat.available == 'TRUE'}">
      {{ seat.seatNumber }}
      <!-- (click)="toggleSeatAvailability(row.rowNumber, seat.seatNumber)" -->
    </div>
  </div>
</div>
